* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.main-container{
    width: 100%;
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 3%;
}

.category {
    padding-right: 10px;
}

.header-top-line, .header-bottom-line {
    margin-bottom: 10px;
}

.items-container {
    width: 100%;
}

.product-item {
    width: 100%;
    max-height: 520px;
    position: relative;
    border: 1px solid #c9c9c9;
    display: inline-block;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}

.product-description-block {
    padding: 15px;
}

.product-title {
    margin-bottom: 10px;
}

.product-description {
    display: inline-block;
    margin-bottom: 10px;
}

.item-select-container {
    margin-bottom: 20px;
}

.price-container {
    float: right;
}

.basket-container {
    background: #ffff9a;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}

.basket-header {
    padding: 20px;
}

.basket-item {
    padding: 10px 10px;
    border-top: 1px solid #dfcd00;
}

.basket-item-right-block {
    float: right;
}

.basket-input {
    margin-right: 5px;
}

@media only screen and (min-width: 360px){
    .product-item {
        width: 48%;
        height: 420px;
        vertical-align: top;
        margin-right: 4%;
    }
    .product-item:nth-child(even) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 600px){
    .items-container {
        float: left;
        width: 70%;
    }
    .basket-container {
        width: 28%;
        float: right;
    }
    .product-item {
        width: 48%;
        margin-right: 4%;
    }
    .product-item:nth-child(even) {
        margin-right: 0;
    }
    .header-top-line-title {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px){

}

