* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.main-container{
    width: 100%;
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 3%;
}

.category {
    padding-right: 10px;
}

.header-top-line, .header-bottom-line {
    margin-bottom: 10px;
}

.items-container {
    width: 100%;
}

.produc-price {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #FFFFFF;
    padding: 8px 20px;
    background: #259d00;
}

.product-item {
    width: 100%;
    max-height: 520px;
    position: relative;
    border: 1px solid #c9c9c9;
    display: inline-block;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}

.product-description-block {
    padding-bottom: 60px;
}

.product-title {
    padding: 0 15px;
    margin-bottom: 10px;
}

.product-description {
    padding: 0 15px;
}

.item-select-container {
    padding: 0 15px 15px 15px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.price-container {
    float: right;
}

.basket-container {
    background: #ffff9a;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}

.basket-header {
    padding: 20px;
}

.basket-item {
    position: relative;
    padding: 10px 10px;
    border-top: 1px solid #dfcd00;
}

.basket-item-title {
    width: 100%;
    padding-right: 83px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.basket-item-right-block {
    position: absolute;
    top: 10px;
    right: 10px;
}

.basket-input {
    margin-right: 5px;
}

.item-input {
    margin-top: 11px;
}

.add-to-basket {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    background: #259d00;
    color: #FFFFFF;
    padding: 8px 20px;
    border-left: 1px solid #FFFFFF;
}

.btn {
    display: inline-block;
    background: #3cee00;
    background-image: -webkit-linear-gradient(top, #3cee00, #259e00);
    background-image: -moz-linear-gradient(top, #3cee00, #259e00);
    background-image: -ms-linear-gradient(top, #3cee00, #259e00);
    background-image: -o-linear-gradient(top, #3cee00, #259e00);
    background-image: linear-gradient(to bottom, #3cee00, #259e00);
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.add-to-basket:hover {
    background: #3bed00;
    background-image: -webkit-linear-gradient(top, #0e9e0f, #0e9e0f);
    background-image: -moz-linear-gradient(top, #3bed00, #3cee00);
    background-image: -ms-linear-gradient(top, #3bed00, #3cee00);
    background-image: -o-linear-gradient(top, #3bed00, #3cee00);
    background-image: linear-gradient(to bottom, #3bed00, #3cee00);
    text-decoration: none;
}

@media only screen and (min-width: 360px){
    .product-item {
        position: relative;
        width: 48%;
        height: 420px;
        vertical-align: top;
        margin-right: 4%;
    }
    .product-item:nth-child(even) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 600px){
    .items-container {
        float: left;
        width: 70%;
    }
    .basket-container {
        width: 28%;
        float: right;
    }
    .product-item {
        width: 48%;
        margin-right: 4%;
    }
    .product-item:nth-child(even) {
        margin-right: 0;
    }
    .header-top-line-title {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px){

}

