* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.main-container{
    width: 100%;
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 3%;
}

.category {
    padding-right: 10px;
}

.header-top-line, .header-bottom-line {
    margin-bottom: 10px;
}

.items-container {
    width: 100%;
}

.product-item {
    width: 100%;
    /*max-height: 520px;*/
    position: relative;
    border: 1px solid #c9c9c9;
    display: inline-block;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}

.product-description-block {
    padding-bottom: 60px;
}

.product-title {
    padding: 0 15px;
    margin-bottom: 10px;
}

.product-description {
    padding: 0 15px 10px 15px;
}

.item-select-container {
    padding: 0 15px 15px 15px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.price-container {
    float: right;
}

.basket-container {
    background: #ffff9a;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}

.basket-header {
    position: relative;
    padding: 30px;
}

.basket-item {
    position: relative;
    padding: 10px 10px;
    border-top: 1px solid #dfcd00;
}

.basket-item-title {
    width: 100%;
    padding-right: 90px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.basket-item-right-block {
    position: absolute;
    top: 10px;
    right: 10px;
}

.basket-input {
    margin-right: 5px;
}

.item-input {
    margin-top: 11px;
}

.basket-icon {
    background: url(../../images/shopping_basket.png) no-repeat center;
    width: 50px;
    height: 50px;
    background-size: contain;
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 140px;
}

.basket-count {
    border-radius: 50%;
    padding: 6px 10px;
    top: 1px;
    left: 156px;
    color: #FFFFFF;
    position: absolute;
    background: #26a200;
}

.add-to-basket {
    background: url(../../images/add_to_basket.png) no-repeat center, -webkit-linear-gradient(top, #3cee00, #259e00);
    background: url(../../images/add_to_basket.png) no-repeat center, -moz-linear-gradient(top, #3cee00, #259e00);
    background: url(../../images/add_to_basket.png) no-repeat center, -ms-linear-gradient(top, #3cee00, #259e00);
    background: url(../../images/add_to_basket.png) no-repeat center, -o-linear-gradient(top, #3cee00, #259e00);
    background: url(../../images/add_to_basket.png) no-repeat center, linear-gradient(to bottom, #3cee00, #259e00);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 12px 20px 11px 20px;
    border-left: 1px solid #FFFFFF;
}

.product-price {
    text-align: center;
    min-width: 95px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    background: #3cee00;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background-image: -webkit-linear-gradient(top, #3cee00, #259e00);
    background-image: -moz-linear-gradient(top, #3cee00, #259e00);
    background-image: -ms-linear-gradient(top, #3cee00, #259e00);
    background-image: -o-linear-gradient(top, #3cee00, #259e00);
    background-image: linear-gradient(to bottom, #3cee00, #259e00);
}

.add-to-basket:hover {
    background: url(../../images/add_to_basket.png) no-repeat center #3bed00;
    background: url(../../images/add_to_basket.png) no-repeat center, -webkit-linear-gradient(top, #0e9e0f, #0e9e0f);
    background: url(../../images/add_to_basket.png) no-repeat center, -moz-linear-gradient(top, #3bed00, #3cee00);
    background: url(../../images/add_to_basket.png) no-repeat center, -ms-linear-gradient(top, #3bed00, #3cee00);
    background: url(../../images/add_to_basket.png) no-repeat center, -o-linear-gradient(top, #3bed00, #3cee00);
    background: url(../../images/add_to_basket.png) no-repeat center, linear-gradient(to bottom, #3bed00, #3cee00);
    text-decoration: none;
}

.product-price-disable {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    background: rgb(177, 175, 175);
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.add-to-basket-disable {
    background: url(../../images/add_to_basket.png) no-repeat center rgb(177, 175, 175);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFFFFF;
    padding: 12px 20px 11px 20px;
    border-left: 1px solid #FFFFFF;
}

.total-price {
    text-align: right;
}

.gallery-container {
    margin-bottom: 10px;
}

@media only screen and (min-width: 400px){
    .product-item {
        position: relative;
        width: 48%;
        /*height: 420px;*/
        vertical-align: top;
        margin-right: 4%;
    }
    .product-item:nth-child(even) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px){
    .items-container {
        float: left;
        width: 70%;
    }
    .basket-container {
        width: 28%;
        float: right;
    }
    .product-item {
        width: 48%;
        margin-right: 4%;
    }
    .product-item:nth-child(even) {
        margin-right: 0;
    }
    .header-top-line-title {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px){

}

