.item-select-container {
    position: absolute;
    width: 160px;
    bottom: 10px;
}


.description {
    display: inline-block;
    height: 100px;
    overflow: hidden;
}

.disable {
    pointer-events: none;
}